[submodule "submodules/android-store"]
	path = submodules/android-store
	url = git@github.com:geishatokyo/android-store.git
[submodule "submodules/ios-store"]
	path = submodules/ios-store
	url = git@github.com:geishatokyo/ios-store.git
